.ms_register_form input.ms_btn {
    background-color: transparent;
    height: 40px;
    border: 1px solid #fff;
    /* margin-left: 0px; */
    padding: 0px 31px;
    line-height: 40px;
    width: auto;
    margin-top: 10px;
}
.ms_register_form input.ms_btn:hover,
.ms_lang_popup .modal-content.add_lang .ms_lang_btn input.ms_btn:hover {
	background-color: #ffffff;
	color: #22bed7;
}
input[type="submit"] {
    cursor: pointer;
}
#LoginErrorMSG, #RegisterErrorMSG {
    font-style: normal;
    color:red;
    font-weight: 500;
    font-size: 30px;
}